html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    color: white;
}

.header-background {
    background-color: #1F2937;
    flex: 1;
}
 
.content-background {
    flex: 2;
}

#header-navigation {
    display: flex;
    justify-content: space-between;
    margin: 25px 250px 100px;
    gap: 50px;
}

#header-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#header-content {
    margin: 25px 250px 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 450px;
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.header-image {
    height: 250px;
    /*min-width: 0;*/
    background-color: #6d747d;
    color: white;
    flex: 0 1 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-button {
    padding: 8px 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

#information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
}

.information {
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 100px;
}

.item-text {
    color: #6d747d;
    width: 175px;
    padding: 0;
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
}